.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.list li a {
  height: 22.5rem;
  width: 20rem;
  border: 1px solid rgb(230, 226, 226);
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  position: relative; /* Added for positioning the price */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
}

/* Add hover effect for list items */
.list li a:hover {
  background-color: #f0f0f0; /* Light background color on hover */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transform: scale(1.05); /* Slightly enlarge the item */
}

.image {
  object-fit: cover;
  height: 14.5rem;
}

.content {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not {
  color: grey;
}

.stars {
  margin: 0.5rem 0;
}

.product_item_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.origins {
  flex: 9;
}

.cook_time {
  font-size: 0.9rem;
  flex: 3;
  text-align: right;
}

.price {
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  background-color: rgb(252, 250, 250);
  padding: 0.3rem 100% 0 0;
  color: #1ed824;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}

